
<app-header></app-header>
<div  class="min-h-screen flex items-center justify-center">
<div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 bg-gray-100 text-gray-800">
	<div class="mb-8 text-center">
		<h2 class="my-3 text-4xl font-bold">Forgot password</h2>
		
	</div>
	<form   class="space-y-12" [formGroup]="FpasswordForm" (submit)="Proceedsubmit()" >
		<div class="space-y-4">
			<div>
				<h4>Enter your Email will send you the link for changing password</h4>
				<label for="email"  class="block mb-2 text-sm">Email address</label>
				<input type="email"   formControlName="email" name="email" id="email" placeholder="leroy@jenkins.com" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
			</div>
			
		</div>
		<div class="space-y-2">
			<div class="flex justify-center space-x-4">
			  <button type="submit" class="px-8 py-3 font-semibold rounded-md bg-violet-600 text-gray-50">Submit</button>
			  <button type="button" class="px-8 py-3 font-semibold rounded-md bg-violet-600 text-gray-50">Cancel</button>
			</div>
		  </div>
	</form>
</div>
</div>

