<app-header></app-header>

<div class="login-page">
 
  <div class="background">
      
      <img [src]="imgUrl"> 
       
  <div class="form">
    
    <h4 class="text-center">Sign Up</h4>
    <form class="login-form" [formGroup]="registerForm" (submit)="ProceedRegister()" >
      <input type="text" placeholder="name" formControlName="name"/>
     
      <input type="text"  formControlName="email"  placeholder="Email"/>

      <input type="password"   formControlName="password"    placeholder="password"/>
      <input type="password" formControlName="cpassword"  placeholder="Confirm password"/>
      <button type="submit">Register</button>
      <p>Already registered <a href="#"> Login Now!</a></p>
    </form>
  </div>
</div>
</div>