<header class="p-4 bg-blue-500 text-black-800">
	<div class="container flex justify-between h-12 mx-auto  ">
		<h2 class="text-black-500"> ZENZEST  </h2>
		<ul class="items-stretch hidden  space-x-3 md:flex">
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 border-transparent">HOME</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 border-transparent">DOCTORS</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center  px-4 -mb-1 border-b-2 border-transparent ">COUNSELLORS</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="#" class="flex items-center px-4 -mb-1 border-b-2 border-transparent">ABOUT US</a>
			</li>
		</ul>
		<div class="items-center flex-shrink-0 hidden lg:flex">
			
			<button routerLink="/register"  class="self-center px-8 py-3 font-semibold rounded bg-violet-600 text-gray-50">Sign up</button>
			<button routerLink="/login"  class="self-center px-8 py-3 font-semibold rounded bg-violet-600 text-gray-50">Sign in</button>
		</div>
	</div>
</header>