
<div class="flex flex-col lg:flex-row">
    <!-- Sidebar -->
    
<div class="px-12 pt-8">
    <div class="flex flex-col lg:flex-row w-full justify-center gap-4">
        <div>
            <div class="p-4 left">
               <div>
                    <div class="font-medium">Doctor Details</div>
                </div>
                <div class="flex flex-col gap-2">
                    <hr>
                <div class="flex items-center gap-2">
                    <mat-icon>schedule</mat-icon>
                    <div>APPOINTMENT:</div>
                </div>
                <hr>
                    <div class="flex items-center gap-2">
                        <mat-icon>calendar_today</mat-icon>
                        <div>On, {{selectedDate}}</div>
                    </div>
                    <hr>
                    <div class="flex items-center gap-2">
                        <mat-icon>access_alarms</mat-icon>
                        <div>At,{{selectedSlot}} </div>
                    </div>
                    <hr>
                </div>
                <div class="">
                    <!-- <mat-icon> person_pin</mat-icon> -->
                    <i class="fa fa-user-md fa-beat fa-lg "></i>
                    <img class="img-fluid thumbnail" [src]="image">
                    <div class="divForDoctor">
                        <p>Dr. {{doctorName}}</p>
                        <p>{{education}}</p>
                        <p>{{doctorDept}}</p>
                    </div>
    
                </div>
            </div>
        </div>
    
        <div class="right p-4 mb-4">
            <div>
               <div class="flex flex-col gap-2">
                <div>
                    <div>Patient Details</div>
                </div>
                <hr>
                <div>
                    <div>Appointment for:</div>
                </div>
               </div>
                <div class="mt-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                       
                        <label>{{userName}}</label>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    
                </div>
                <div class="mb-2"><strong>Choose a payment option to Book Appointment</strong></div>
                <div>
    
                    <mat-radio-group class="flex flex-col gap-2" aria-label="Select an option" [(ngModel)]="paymentOption">
                        <mat-card >
                            <mat-card-content>
                                <mat-radio-button value="online">&#x20B9; {{fees}} Pay Online</mat-radio-button>
                            </mat-card-content>
                        </mat-card>
                       
                    </mat-radio-group>
                </div>
                    <button mat-raised-button class="mt-4" color="primary" (click)="onConfirmAppointment()">Confirm
                        Appointment</button>
            </div>
        </div>
    
    </div>
    </div>
</div>
