
<div class="flex">

<div  class="flex-grow items-center md:p-16">
    <form [formGroup]="timeslotForm" (ngSubmit)="onSubmit()" class="w-full">
        <div class="container w-full h-auto flex  justify-start p-10 flex-col items-center">
            <div class="slotGrid w-full">
    
                <div>
                    <h2>Choose Your Available slots</h2>
                    <mat-form-field appearance="fill" >
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date"    [min]="minDate" [max]="maxDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker ></mat-datepicker>
                    </mat-form-field>
                </div>
                 <!-- Conditionally render the buttons only if a date is selected -->
                 <div *ngIf="timeslotForm.get('date')?.value" class="grid grid-cols-1 md:grid-cols-5 gap-3 mt-2">
                
                    <button
                    *ngFor="let timeSlot of timeSlots; let index = index"
                    type="button"
                    [ngClass]="{
                      'bg-blue-500 text-white': selectedButtonIndices.includes(index),
                      'bg-green-500 text-white': !selectedButtonIndices.includes(index),
                      'bg-red-500 text-white': isSlotBooked[index],
                      'px-4 py-2 rounded-md': true
                    }"
                    (click)="handleButton(index,timeSlot)"
                    [disabled]="isSlotBooked[index]"
                  >
                    {{ timeSlot }}
                  </button>
                  


                    <input type="hidden" formControlName="selectedSlot" />
                
                </div>
                <div class="mt-2">
                    <button mat-raised-button color="warn" type="submit" [disabled]="timeslotForm.invalid">SUBMIT</button>
                </div>
    
            </div>
        </div>
    </form>
</div>
</div>

