<div class="m-20">
    <h3 class="mb-4">Consultation</h3>

    <h5 *ngIf="value === 'user'" class="mb-4">{{ value === 'user' ? 'Please wait till the call arrives' : '' }}</h5>
    
    <div *ngIf="value === 'doctor'">
        <div *ngIf="remoteSocketId; else noPatient" class="mb-4">
            Patient Online
        </div>
        <ng-template #noPatient>
            <div class="mb-4">No one in the room</div>
        </ng-template>
    </div>
    <div class="mb-4">
        <div>
            <h6>Ongoing Consultation</h6>
        </div>
        <div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="video-description">Local:</p>
                    <video #myVideo autoplay class="w-full"></video>
                </div>
                <div>
                    <p class="video-description">Remote:</p>
                    <video #remoteVideo autoplay class="w-full"></video>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- camera on button -->
        <button mat-raised-button class="bg-primary" (click)="startLocalVideo()"
            [disabled]="myVideoActive"><mat-icon>videocam</mat-icon><span></span></button>

        <!-- camera off button    -->
        <button mat-raised-button class="bg-primary" (click)="pauseLocalVideo()"
            [disabled]="!myVideoActive"><mat-icon>videocam_off</mat-icon><span></span></button>

        <!-- mute/unmute -->
        <button mat-raised-button class="bg-primary" *ngIf="myStream" (click)="handleMute()">
            <mat-icon>{{ muted ? 'volume_up' : 'volume_off' }}</mat-icon>
        </button>

        <!-- call end button -->
        <button mat-raised-button class="bg-warn" *ngIf="remoteSocketId"
            (click)="disConnectCall()"><mat-icon> call_end</mat-icon></button>

        <!-- accept call button -->
        <button mat-raised-button style="background-color: green;" *ngIf="value === 'user' && myStream && !accepted"
            (click)="sendStreams()"><mat-icon>phone_in_talk</mat-icon></button>

        <!-- call button -->
        <button mat-raised-button class="bg-primary" *ngIf="  value === 'doctor'&& remoteSocketId "
            (click)="handleCallUser()"><mat-icon> call</mat-icon></button>
    </div>
</div>
